<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
">
<bean id="q" class="Question">  <!-- no code changes are required in main app-->
<constructor-arg name="answers"> 
<list>  
<value>Java is a programming language</value>  
<value>Java is a Platform</value>  
<value>Java is an Island of Indonasia</value>  
</list>  
</constructor-arg>  
<constructor-arg name="Levels"> 
<list>  
<value>Basic</value>  
<value>Intermediate</value>  
<value>Advanced</value>  
</list> 
</constructor-arg>
<constructor-arg name="id" value="111"></constructor-arg>  
<constructor-arg name="name" value="What is java?"></constructor-arg>  

</bean>
</beans>
